body {
	background-color: #1a1a1a;
	color: white;
	font-family: "JetBrains Mono", monospace;

	margin: 0;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
	color: #2ba46d;
}

header {
	background-color: #222226;
	text-align: center;
}

.flex {
	display: flex;
	align-content: center;
}

main {
	flex: 1;
}

.content {
	padding: 1rem;
	text-align: justify;
	margin-inline: .25rem;
}

footer {
	text-align: left;
	font-style: italic;
	font-size: small;
	color: grey;
}
