body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 1rem;

	text-align: justify;
	background-color: black;
	color: white;
}

main {
	flex: 1;
}

div > p {
	color: red;
	font-style: italic;
	font-weight: bold;
}

a[data-order-externalurl="true"] {
	color: orange;
}

footer {
	text-align: left;
	font-style: italic;
	font-size: small;
	color: grey;
}
