body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 1rem;

	background-color: black;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
	text-align: center;
}

.flex {
	display: flex;
	align-content: center;
}

main {
	flex: 1;
}

.content {
	width: 50%;
	position: relative;
	text-align: justify;
	margin-inline: .25rem;
}

footer {
	text-align: left;
	font-style: italic;
	font-size: small;
	color: grey;
}
